.home-container {
         width: auto;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         align-items: center;
}
.image {
         display: block;
         margin-left: auto;
         margin-right: auto;
         border-radius: 50%;
         padding-bottom: 5px;
}
.title {
         font-size: 52px;
         color: brown;
}
.home-container h6 {
         font-size: 60px;
         color: purple;
}